# database
data/database/

# processed
data/processed

# model
models/
*.pkl

# mac
.DS_Store

# python cache
__pycache__/
*.pyc

# notebook checkpoints
.ipynb_checkpoints/

# logs
logs/

# mlflow artifacts
mlruns/

# virtual env
.venv/
env/