# OS / IDE
.DS_Store

# Python Cache & Env
__pycache__/
*.pyc
.venv/
env/
.ipynb_checkpoints/

# Data & Database
data/database/
data/processed/

# Models & Artifacts
*.pkl
*.csv

# Logs & Reports
logs/
reports/*.html

# MLflow
mlruns/
mlartifacts/
mlflow.db